@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  color: white;
}

p {
  font-family: "Bai Jamjuree", sans-serif;
}

h1, h2, h3 {
  font-family: "Hammersmith One", sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  background: url("images/og-card-fallback.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
}
.header_droit {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header_droit h2 {
  color: white;
  font-size: 30px;
  margin-top: 2%;
}
.header_droit img {
  width: 100%;
  max-width: 500px;
}
.header_droit .btn {
  width: 250px;
  height: 50px;
  border: 2px solid white;
  font-size: 18px;
  font-family: "Hammersmith One", sans-serif;
  position: relative;
  margin-top: 4%;
}

.hero {
  width: 100%;
  position: relative;
  background: url("https://zupimages.net/up/21/44/ur7k.png");
  min-height: 600px;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}
.hero:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
  content: "";
  top: 0;
  left: 0;
}
.hero .gauche {
  flex-basis: 60%;
}
.hero .droit {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  flex-basis: 40%;
  padding: 4%;
  box-sizing: border-box;
  z-index: 999;
}
.hero .droit h2 {
  font-size: 30px;
}
.hero .droit h2, .hero .droit h3 {
  color: wheat;
  margin-bottom: 1%;
}
.hero .droit p {
  color: lightgray;
  line-height: 30px;
  font-size: 14px;
}
.hero .droit .list {
  position: relative;
}
.hero .droit .list img {
  flex-basis: 10%;
  width: 10px;
  position: absolute;
  left: -3%;
  margin-top: 2%;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  box-sizing: border-box;
}
.cards_item {
  flex-basis: 20%;
  height: 500px;
  min-width: 477px;
  transition: 1s ease-in-out;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.cards_item:hover {
  flex-grow: 3;
}
.cards_item_content {
  max-width: 400px;
}
.cards_item_content:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.6;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
}
.cards_item_content--2, .cards_item_content--3, .cards_item_content--5, .cards_item_content--6, .cards_item_content--8, .cards_item_content--9 {
  display: none;
}
.cards_item_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  max-height: 120px;
  background-color: black;
  box-sizing: border-box;
  padding: 2%;
}
.cards_item_footer img {
  width: 100%;
  max-width: 70px;
  margin-right: 20px;
  margin-left: 20px;
}
.cards_item h3 {
  text-align: center;
}
.cards h2 {
  color: wheat;
  font-size: 2em;
}
.cards h3 {
  color: wheat;
}
.cards p {
  color: lightgray;
  margin-top: -10px;
  padding: 5%;
  font-size: 14px;
  text-align: center;
}
.cards .bubble {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.cards .bubble span {
  border-radius: 50px;
  display: block;
  width: 10px;
  height: 10px;
  background: lightgray;
  color: lightgray;
  margin-left: 10px;
  margin-bottom: 10px;
}
.cards .card_item_1 {
  width: 100%;
  background-image: url("https://www.warlegend.net/wp-content/uploads/New-World_-Launch-Trailer-1-12-screenshot-scaled.jpg");
  background-size: cover;
  background-position: center center;
  z-index: 0;
}
.cards .card_item_2 {
  width: 100%;
  background-image: url("https://www.geekgeneration.fr/wp-content/uploads/2020/05/New-World-Spriggan_hero_mist_720.jpg");
  background-size: cover;
  background-position: center center;
  z-index: 0;
}
.cards .card_item_3 {
  width: 100%;
  background-image: url("https://images.ctfassets.net/j95d1p8hsuun/302v7wNGLEDkNDjMLsODDA/f36f0cc3a541aa69feac13677acf3b60/NW_News_Gen_01_740x416.jpg");
  background-size: cover;
  background-position: center center;
  z-index: 0;
}/*# sourceMappingURL=main.css.map */